
@font-face {
    font-family: 'Iceland';
    font-style: normal;
    font-weight: 400;
    src: local('Iceland'), local('Iceland-Regular'), url(./ice.woff) format('woff');
  }
  

 
  .startButton {
    top: 50%;
    left: 50%;
    margin-top: -4em; 
    margin-left: -4em; 
    position:fixed;
    background-color: gold;
   
    z-index: 10;
    font-family:Iceland;
    font-size: 2em;
   text-align: center;
   padding: 46px;
   box-shadow: inset 6px 6px 6px rgba(255, 255, 255, .4), inset -2px -2px 2px rgba(0, 0, 0, .4);

}
.startButton2 {
    box-sizing: border-box;
    cursor: pointer;
    align-self: center;
    font-size: 1rem;
    line-height: 1;
    margin: 20px;
    padding: 1.2em 2.8em;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    background-color: gold;
    top: 344px;
    width: 250px;
    height: 76px;
    border-color: #8e44ad;
    border-radius: 0;
    color: #8e44ad;
    position: relative;
    overflow: hidden;
    z-index: 5;
    -webkit-transition: color 150ms ease-in-out;
    transition: color 150ms ease-in-out;


}
.startButton:hover {
    color: #fff;
    outline: 0;
    box-shadow: inset 6px 6px 6px rgba(255, 255, 255, .4), inset -2px -2px 2px rgba(0, 0, 0, .4);
}


.startButton:after {
    content: '';
    position: absolute;
    display: block;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 0;
    height: 100%;
    background: #8e44ad;
    z-index: -1;
    -webkit-transition: width 150ms ease-in-out;
    transition: width 150ms ease-in-out;
    box-shadow: inset 6px 6px 6px rgba(255, 255, 255, .4), inset -2px -2px 2px rgba(0, 0, 0, .4);
}
.startButton:hover {
    color: #fff;
    box-shadow: inset 6px 6px 6px rgba(255, 255, 255, .4), inset -2px -2px 2px rgba(0, 0, 0, .4);
}
.startButton:hover:after {
    width: 110%;
    box-shadow: inset 6px 6px 6px rgba(255, 255, 255, .4), inset -2px -2px 2px rgba(0, 0, 0, .4);
}